---
import { storyblokEditable } from '@storyblok/astro';
import GetInTouchDetails from '../components/GetInTouchDetails.astro';
const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <GetInTouchDetails {...blok} />
</div>
