---
import { storyblokEditable } from '@storyblok/astro';
import HeroSection from '../components/HeroSection.astro';

const { blok } = Astro.props;
---

<div class="min-h-full" {...storyblokEditable(blok)}>
  <HeroSection {...blok} />
</div>
