---
import Alert from './Alert.astro';

let status = '';
if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();

    const values = {
      name: data.get('name'),
      email: data.get('email'),
      message: data.get('message'),
    };

    const response = await fetch(import.meta.env.PUBLIC_FORM_API, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
      },
      body: JSON.stringify({
        ...values,
      }),
    });
    status = 'submitted';

    // return Astro.redirect('/contact');
  } catch (error) {
    status = 'error';

    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

const SUCCESS_MESSAGE = `Thanks for your message. I'll be in touch soon.`;
const ERROR_MESSAGE = 'Submission failed. Try again later';
---

<div
  class="mx-auto flex max-w-2xl flex-col items-center justify-between p-6 lg:px-8"
>
  <h2
    class="py-10 text-4xl font-bold leading-10 tracking-widest text-slate-700 lg:text-3xl"
  >
    Just say Hi!
  </h2>
  <p class="text-xl text-slate-700">
    I'm looking forward to helping you. Just send a message about what I can do.
  </p>
  {status === 'error' && <Alert status="error" message={ERROR_MESSAGE} />}

  {
    status === 'submitted' && (
      <Alert status="submitted" message={SUCCESS_MESSAGE} />
    )
  }

  <form
    id="form"
    method="POST"
    data-botpoison-public-key={import.meta.env.PUBLIC_CAPTCHA_KEY}
    class="mt-6 w-full space-y-4"
  >
    <div class="sm:col-span-2">
      <label for="name" class="block text-xl font-medium text-slate-900">
        Name
      </label>
      <div class="mt-1">
        <input
          required
          type="text"
          name="name"
          id="name"
          placeholder="How should I call you?"
          class="block w-full rounded-md border-slate-300 px-4 py-3 text-slate-900 shadow-sm focus:border-slate-500 focus:ring-slate-500"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label for="email" class="block text-xl font-medium text-slate-900">
        Email
      </label>
      <div class="mt-1">
        <input
          required
          type="email"
          name="email"
          id="email"
          placeholder="Your email address?"
          class="block w-full rounded-md border-slate-300 px-4 py-3 text-slate-900 shadow-sm focus:border-slate-500 focus:ring-slate-500"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <label for="message" class="block text-xl font-medium text-slate-900">
        Message
      </label>

      <div class="mt-1">
        <textarea
          required
          id="message"
          name="message"
          rows={4}
          placeholder="How can I help?"
          class="block w-full rounded-md border-slate-300 px-4 py-3 text-slate-900 shadow-sm focus:border-slate-500 focus:ring-slate-500"
          aria-describedby="message-max"></textarea>
      </div>
    </div>

    <div>
      <button
        type="submit"
        id="button"
        class="mt-6 inline-flex w-full items-center justify-center rounded-full border border-transparent bg-slate-800 px-6 py-3 text-xl font-medium text-white shadow-sm hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-slate-900 focus:ring-offset-2 disabled:cursor-not-allowed disabled:bg-slate-400 sm:w-auto"
        >Submit</button
      >
    </div>
  </form>
</div>

<script>
  const formElement = document.getElementById('form') as HTMLFormElement;
  const buttonElement = document.getElementById('button') as HTMLButtonElement;
  formElement.addEventListener('botpoison-challenge-start', function () {
    buttonElement.setAttribute('disabled', 'disabled');
    buttonElement.innerText = '...Loading';
  });
  formElement.addEventListener('botpoison-challenge-success', function () {
    buttonElement.removeAttribute('disabled');
    buttonElement.innerText = 'Submit';
  });
  formElement.addEventListener('botpoison-challenge-error', function () {
    buttonElement.removeAttribute('disabled');
    buttonElement.innerText = 'Submit';
  });
</script>
