---
---

<header class="relative z-10 bg-white">
  <div
    class="mx-auto flex max-w-2xl items-center justify-between p-6 md:space-x-10 lg:max-w-7xl lg:px-8"
  >
    <div class="flex justify-start lg:w-0 lg:flex-1">
      <a href="#">
        <span class="sr-only">Your Company</span>
        <img
          class="h-8 w-auto sm:h-10"
          src="https://tailwindui.com/img/logos/mark.svg?from-color=purple&from-shade=600&to-color=indigo&to-shade=600&toShade=600"
          alt=""
        />
      </a>
    </div>

    <nav class="space-x-2 md:flex md:space-x-10">
      <a
        href="/"
        class="text-sm font-medium text-gray-500 hover:text-gray-900 md:text-base"
        >Home</a
      >
      <a
        href="/contact"
        class="text-sm font-medium text-gray-500 hover:text-gray-900 md:text-base"
        >Say Hi!</a
      >
    </nav>
  </div>
</header>
